numpy~=1.24.1
tqdm~=4.51.0
argparse~=1.4.0
requests~=2.24.0
packaging~=20.9
pillow~=9.4.0
ipython~=7.24.1
pandas~=1.5.2
yaml~=0.2.5
pyyaml~=6.0
torch==2.3.0
torchaudio==0.13.0+cu116
torchvision==0.14.0+cu116
tornado==6.1
traitlets==5.1.1
transformers==4.40.1
faiss-cpu==1.7.4
deepspeed==0.9.5+3f5e4931
